<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <title>Error!</title>
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <p><h1>{{error}}</h1></p>
        </div>
        

        {{>footer}}
    </body>
</html>
