<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="../css/style.css">
        <title>Help!</title>
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{msg}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>